<h1>Do Stuff!!!</h1>
<form [formGroup]="loginFormGroup" (ngSubmit)="login()">
    <mat-form-field class="input-headline">
        <mat-label class="input-label">Email</mat-label>
        <input required matInput formControlName="email" type="email">
    </mat-form-field>
    <mat-form-field class="input-headline">
        <mat-label class="input-label">Password</mat-label>
        <input required matInput formControlName="password" type="password">
    </mat-form-field>
    <button mat-flat-button color="primary">Login</button>
</form>