<div class="center-screen">
    <h1 class="app-title">Do Stuff!!!</h1>
    <br />
    <mat-card class="register-login">
        <form [formGroup]="loginFormGroup" (ngSubmit)="login()">
            <div>
                <mat-form-field class="input-normal">
                    <mat-label class="input-normal">Email</mat-label>
                    <input required matInput formControlName="email" type="email">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="input-normal">
                    <mat-label class="input-normal">Password</mat-label>
                    <input required matInput formControlName="password" type="password">
                </mat-form-field>
            </div>
            <div>
                <button mat-flat-button color="primary">Login</button>
            </div>
        </form>
        <br />
        <div>
            <a href="register">Don't have an account?</a>
        </div>

        <mat-error *ngIf="email.errors?.email">Email invalid format</mat-error>
        <mat-error *ngIf="email.errors?.minlength">Email too short</mat-error>
        <mat-error *ngIf="email.errors?.maxlength">Email too long</mat-error>
        <mat-error *ngIf="email.errors?.required">Email required</mat-error>
        <mat-error *ngIf="password.errors?.minlength">Password too short</mat-error>
        <mat-error *ngIf="password.errors?.maxlength">Password too long</mat-error>
        <mat-error *ngIf="password.errors?.required">Password required</mat-error>

    </mat-card>
</div>
