<div class="container todolist-container">
    <div class="center-screen" *ngIf="notLoaded">
        <mat-spinner></mat-spinner>
    </div>
    <div class="container">
        <h1 *ngIf="success">Hi there!</h1>
        <h3 *ngIf="success">Here are your tasks for the day!</h3>
        <mat-card class="container" *ngFor="let todoListItem of todoListItems; let i = index">
            <mat-card-title [style.text-decoration]="todoListItem.completed ? 'line-through' : 'none'">{{pageEvent.pageIndex * pageEvent.pageSize + i + 1}}. {{todoListItem.name}}
                <mat-checkbox [(checked)]="todoListItem.completed" (change)="updateTodoListItemStatus(todoListItem)"></mat-checkbox>
            </mat-card-title>    
            <mat-card-subtitle [style.text-decoration]="todoListItem.completed ? 'line-through' : 'none'">{{todoListItem.description}}</mat-card-subtitle>
            <mat-card-content>
                <button mat-flat-button color="primary" [routerLink]="['/', todoListItem.id]">Edit Details</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div>
    <button class="float-button" mat-fab [routerLink]="['/add']" aria-label="Add new item">
        <mat-icon class="float-button-icon">add_task</mat-icon>
    </button>
</div>
<mat-paginator [length]="pageEvent.length"
                [pageSize]="pageEvent.pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="pageEvent = getServerData($event)">
</mat-paginator>
