/* .mat-card {
    margin: 10px;
} */

/* .app-todo-list
{
    margin: 500px;
} */

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.mat-checkbox {
    margin-left: 10px;
}

.float-button {
    position: fixed;
    right: 20px;
    bottom: 70px;
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

.float-button-icon {
    font-size: 40px;
    vertical-align: middle;
    position: relative;
    right: 10px;
    bottom: 10px;
}

.mat-paginator {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.todolist-container {
    margin-bottom: 75px;
}

