/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: rgba(245, 245, 245, 0.596); }
.mat-card-title {
    margin-right: 30px !important;
}

.container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.container-fluid {
    margin-left: 0px;
    margin-right: 0px;
}

.input-headline, .input-label {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}

.input-normal {
    font-size: 16px !important;
    line-height: 32px;
}

button {
    margin-right: 10px !important;
    margin-top: 10px !important;
}

p, .mat-card-subtitle {
    text-align: justify;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 70vh;
}

mat-card.register-login {
    padding: 50px;
}

app-header {
    position: fixed;
    top:0;
    left: 0;
    align-items: flex-end;
    padding: 20px;
    background-color: white;
    margin: 0px;
    margin-bottom: 20px;
    display: flex;
    width: 100vw;
    z-index: 1;
}

#content {
    position: absolute;
    top: 100px;
    width: 100vw;
}

h1.app-title {
    font-family: 'Dancing Script', cursive;
    color: palevioletred;
    font-size: 64px;
}
